$theme-color: #cb3c45;
.contact-image {
  img {
    width: 100%;
  }
}
.page-content {
  padding: 0;
  .content {
    overflow: hidden;
  }
  // .header {
  //   height: 5rem;
  //   background: #000;
  //   padding: 0.35rem;
  //   background: url('../images/contact-banner.png')
  // }
  h4.title {
    text-align: center;
    font-size: 0.34rem;
    color: #424e67;
    position: relative;   /*定位横线（当横线的父元素）*/
  }
  h4.title:before, h4.title:after {
    content: '';                 /*CSS伪类用法*/
    position: absolute;         /*定位背景横线的位置*/
    top: 52%;
    background: #bdbdbd;       /*宽和高做出来的背景横线*/
    width: 5%;
    height: 1px;
  }
  h4.title:before{
    left: 40%;        /*调整背景横线的左右距离*/
  }
  h4.title:after {
    right: 40%;
  }
  .center {
    padding: 0.35rem;
    width: 11.64rem;
    background: rgba(255,255,255,0.5);
    // opacity: 0.5;
    height: 2.64rem;
    margin: 0.44rem auto;
  }
  .welcome {
    text-align: center;
    font-size: 0.5rem;
    color: #fff;
    z-index: 222;
  }
  .send {
    line-height: 0.55rem;
    text-align: center;
    font-size: 0.3rem;
    color: #fff;
    z-index: 222;
  }
}

.job-list, .partner{
  .job-item {
    margin-bottom: .3rem;
  }
  .job-position {
    color: $theme-color;
    font-size: 0.24rem;
  }

  .job-row {
    margin-top: .1rem;
    label {
      float: left;
      color: #999;
      font-size: 14px;
      line-height: 0.36rem;
    }
    .desc {
      color: #333;
      margin-left: 75px;
      p {
        line-height: 0.36rem;
        font-size: 14px;
      }
    }
  }
  button {
    margin-top: .1rem;
    background: $theme-color;
    border: none;
    // padding: 20px 24px;
    border-radius: 3px;
    width: 3rem;
    height: 0.6rem;
    color: #fff;
    outline: none;
  }
}
.company-info {
  line-height: 0.42rem;
  p {
    font-size: 0.18rem;
  }
  
  .company-name {
    font-size: 0.24rem;
  }
  

}
.map {
  width: 16rem;
  height: 6rem;
  overflow: hidden;
  #map {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
}